:root {
    /* Colors */
    --primary-main: hsl(215, 100%, 49%);
    --primary-light: hsl(207, 42%, 91%);
    --primary-dark: hsl(219, 100%, 40%);
    --white-main: hsl(0, 0%, 100%);
    --white-secondary: hsla(0, 0%, 100%, 0.6);
    --color-title: hsl(243, 100%, 4%);
    --color-delete: hsl(0, 100%, 36%);
    --color-error: hsl(0, 100%, 60%);
    --color-success: hsl(116, 46%, 49%);
    --color-backdrop: hsla(0, 0%, 0%, 0.65);

    /* Font sizes */
    --font-size-extra-small: 0.75rem;
    --font-size-small: 0.875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.5rem;

    /* Sizes */
    --size-1: 0.25rem;
    --size-2: 0.5rem;
    --size-3: 1rem;
    --size-4: 2rem;

    /* Animation */
    --transition-duration: 0.3s;

    /* Elements */
    --button-bg-color: var(--primary-main);
    --button-bg-color-hover: var(--white-main);
    --button-text-color: var(--white-main);
    --button-text-color-hover: var(--primary-main);
}