:host {
    cursor: pointer;
    border: none;
    background: none;
    padding: var(--size-2);
    font-size: var(--font-size-extra-small);
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    border-radius: var(--size-1);
    transition: color var(--transition-duration);
    border: 1px solid var(--primary-main);
}

:host:hover {
    color: var(--button-text-color-hover);
    background-color: var(--button-bg-hover);
}