<footer aria-label="Footer navigation">
    <div class="container flex-between">
        <h6>
            Copyright © Visma 2022
        </h6>
        <article>
            <a href="#" aria-link="Link to instagram">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png"
                    alt="instagram logo">
            </a>
            <a href="#" aria-link="Link to facebook">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/1365px-Facebook_f_logo_%282019%29.svg.png"
                    alt="facebook logo">
            </a>
            <a href="#" aria-link="Link to twitter">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/2491px-Twitter-logo.svg.png"
                    alt="twitter logo">
            </a>
        </article>
    </div>
</footer>